$_invalid-color: #ff7575;

form {
  padding: 2vh 5vw;
  margin: 2vh 0;
  background: #f5f6f8;
  border-radius: 1px;
}

.formItem {
  display: block;
  &__main {
    position: relative;
  }
  &__input {
    width: 100%;
    font-size: 1.2em;
    display: block;
    padding: 4px 0;
    outline: 0;
    background: transparent;
    color: #222;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #BBB;
    -webkit-appearance: none;
    resize: none;
    + div {
      position: absolute;
      border-bottom: 2px solid $color-accent;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: scale(0, 1);
      transform-origin: left center;
    }
  }
  &__label {
    margin: 1em 0 .5em;
  }
  .errorMessage {
    color: $_invalid-color;
    font-size: .75em;
    p {
      margin-top: .5em;
      margin-bottom: 1.5em;
    }
  }
}

.is-focused {
  .formItem {
    &__label {
      transition: color 400ms cubic-bezier(0.21, 0.77, 0.32, 0.87);
      font-weight: bold;
    }
    &__input {
      + div {
        transition: transform 400ms cubic-bezier(0.21, 0.77, 0.32, 0.87);
        transform: scale(1, 1);
      }
    }
  }
}

.is-invalid {
  .formItem {
    &__label {
      color: $_invalid-color;
    }
    &__input {
      border-color: $_invalid-color;
      + div {
        border-color: $_invalid-color;
        transform: scale(1, 1);
      }
    }
  }
}
